<a href="https://colab.research.google.com/github/douglascosta01/Data-Mining-Mnera-o-de-Dados-/blob/main/projeto_ml_dados_covid.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Pacotes

In [1]:
import numpy as np
import pandas as pd
import torch
import torch.nn as nn
import torch.nn.functional as F
import sklearn.datasets
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
import seaborn as sns
import matplotlib.pyplot as plt

Carga de dados

In [2]:
url = 'https://www.saopaulo.sp.gov.br/wp-content/uploads/2023/05/20230522_vacinometro.csv'
dados_covid = pd.read_csv(url)
dados_covid.head()

  MUNICÍPIO;1 DOSE1;1 DOSE2;2 DOSE;3 DOSE;REFORCO BIVALENTE;1 REFORCO;2 REFORCO;3 REFORCO;DOSE UNICA;ADICIONAL
0  ADAMANTINA;32370;32370;30845;104;2918;22480;94...
1     ADOLFO;4404;4404;4310;10;766;3668;2028;7;76;18
2  AGUAÍ;32215;32215;30436;50;4020;21783;11053;36...
3  AGUDOS;36574;36574;33721;52;1714;21447;8748;60...
4  ALAMBARI;5434;5434;5213;12;657;3805;1905;13;143;7

In [3]:
from google.colab import data_table
from vega_datasets import data

data_table.enable_dataframe_formatter(dados_covid)

data.dados_covid()

TypeError: ignored